src/algo/ms/formats/mzml/mzML.dtd

<!-- ============================================
     ::DATATOOL:: Generated from "mzML.xsd"
     ::DATATOOL:: by application DATATOOL version 1.9.0
     ::DATATOOL:: on 06/04/2008 18:12:03
     ============================================ -->

<!-- ============================================ -->
<!-- This section is mapped from module "mzML"
================================================= -->

<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com)  -->

<!--A reference to a previously defined ParamGroup, which is a reusable container of one or more cvParams. -->
<!ELEMENT referenceableParamGroupRef EMPTY>
<!ATTLIST referenceableParamGroupRef
<!--Reference to the id attribute in a referenceableParamGroup. -->
    ref CDATA #REQUIRED>

<!--This element holds additional data or annotation. Only controlled values are allowed here. -->
<!ELEMENT cvParam EMPTY>
<!ATTLIST cvParam
<!--A reference to the CV 'id' attribute as defined in the cvList in this mzML file. -->
    cvRef CDATA #REQUIRED
<!--The accession number of the referred-to term in the named resource (e.g.: MS:000012). -->
    accession CDATA #REQUIRED
<!--The value for the parameter; may be absent if not appropriate, or a numeric or symbolic value, or may itself be CV (legal values for a parameter should be enumerated and defined in the ontology). -->
    value CDATA #IMPLIED
<!--The actual name for the parameter, from the referred-to controlled vocabulary. This should be the preferred name associated with the specified accession number. -->
    name CDATA #REQUIRED
<!--An optional CV accession number for the unit term associated with the value, if any (e.g., 'UO:0000266' for 'electron volt'). -->
    unitAccession CDATA #IMPLIED
<!--An optional CV name for the unit accession number, if any (e.g., 'electron volt' for 'UO:0000266' ). -->
    unitName CDATA #IMPLIED
<!--If a unit term is referenced, this attribute must refer to the CV 'id' attribute defined in the cvList in this mzML file. -->
    unitCvRef CDATA #IMPLIED>

<!--Uncontrolled user parameters (essentially allowing free text). Before using these, one should verify whether there is an appropriate CV term available, and if so, use the CV term instead -->
<!ELEMENT userParam EMPTY>
<!ATTLIST userParam
<!--The name for the parameter. -->
    name CDATA #REQUIRED
<!--The datatype of the parameter, where appropriate (e.g.: xsd:float). -->
    type CDATA #IMPLIED
<!--The value for the parameter, where appropriate. -->
    value CDATA #IMPLIED
<!--An optional CV accession number for the unit term associated with the value, if any (e.g., 'UO:0000266' for 'electron volt'). -->
    unitAccession CDATA #IMPLIED
<!--An optional CV name for the unit accession number, if any (e.g., 'electron volt' for 'UO:0000266' ). -->
    unitName CDATA #IMPLIED
<!--If a unit term is referenced, this attribute must refer to the CV 'id' attribute defined in the cvList in this mzML file. -->
    unitCvRef CDATA #IMPLIED>

<!--Scan or acquisition from original raw file used to create this peak list, as specified in sourceFile. -->
<!ELEMENT acquisition (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*)>
<!ATTLIST acquisition
<!--A number for this acquisition. -->
    number CDATA #REQUIRED
<!--For acquisitions that are local to this document, this attribute must reference the 'id' attribute of the appropriate spectrum. -->
    spectrumRef CDATA #IMPLIED
<!--For acquisitions that are external to this document, this attribute must reference the 'id' attribute of a sourceFile representing that external document. -->
    sourceFileRef CDATA #IMPLIED
<!--For acquisitions that are external to this document which can be referenced by nativeID, this string must correspond to the 'nativeID' attribute of a spectrum in the external document indicated by 'sourceFileRef'. -->
    externalNativeID CDATA #IMPLIED
<!--For acquisitions that are external to this document which cannot be referenced by nativeID, this string must correspond to the 'id' attribute of a spectrum in the external document indicated by 'sourceFileRef'. -->
    externalSpectrumID CDATA #IMPLIED>

<!--Description of the acquisition settings of the instrument prior to the start of the run. -->
<!ELEMENT acquisitionSettings (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*, 
        sourceFileRefList?, 
        targetList?)>
<!ATTLIST acquisitionSettings
<!--A unique identifier for this acquisition setting. -->
    id CDATA #REQUIRED
<!--This attribute must reference the 'id' of the appropriate instrument configuration. -->
    instrumentConfigurationRef CDATA #REQUIRED>
<!--List with the source files containing the acquisition settings. -->
<!ELEMENT sourceFileRefList (
        sourceFileRef*)>
<!ATTLIST sourceFileRefList
<!--This number of source files referenced in this list. -->
    count CDATA #REQUIRED>

<!ELEMENT sourceFileRef EMPTY>
<!ATTLIST sourceFileRef
<!--This attribute must reference the 'id' of the appropriate sourceFile. -->
    ref CDATA #REQUIRED>
<!--Target list (or 'inclusion list') configured prior to the run. -->
<!ELEMENT targetList (
        target+)>
<!ATTLIST targetList
<!--The number of TargetType elements in this list. -->
    count CDATA #REQUIRED>

<!ELEMENT target (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*)>

<!--The structure into which encoded binary data goes. Byte ordering is always little endian (Intel style). Computers using a different endian style must convert to/from little endian when writing/reading mzML -->
<!ELEMENT binaryDataArray (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*, 
        binary)>
<!ATTLIST binaryDataArray
<!--This optional attribute may override the 'defaultArrayLength' defined in SpectrumType. The two default arrays (m/z and intensity) should NEVER use this override option, and should therefore adhere to the 'defaultArrayLength' defined in SpectrumType. Parsing software can thus safely choose to ignore arrays of lengths different from the one defined in the 'defaultArrayLength' SpectrumType element. -->
    arrayLength CDATA #IMPLIED
<!--This optional attribute may reference the 'id' attribute of the appropriate dataProcessing. -->
    dataProcessingRef CDATA #IMPLIED
<!--The encoded length of the binary data array. -->
    encodedLength CDATA #REQUIRED>

<!--The actual base64 encoded binary data. -->
<!ELEMENT binary (#PCDATA)>

<!--A single chromatogram. -->
<!ELEMENT chromatogram (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*, 
        binaryDataArrayList)>
<!ATTLIST chromatogram
<!--A unique identifier for this chromatogram. -->
    id CDATA #REQUIRED
<!--The native identifier for the spectrum, used by the acquisition software. -->
    nativeID CDATA #REQUIRED
<!--The zero-based index for this chromatogram in the chromatogram list. -->
    index CDATA #REQUIRED
<!--Default length of binary data arrays contained in this element. -->
    defaultArrayLength CDATA #REQUIRED
<!--This attribute can optionally reference the 'id' of the appropriate dataProcessing. -->
    dataProcessingRef CDATA #IMPLIED>
<!--List of binary data arrays. -->
<!ELEMENT binaryDataArrayList (
        binaryDataArray+)>
<!ATTLIST binaryDataArrayList
<!--The number of binary data arrays defined in this list. -->
    count CDATA #REQUIRED>

<!--A source component. -->
<!ELEMENT source (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*)>
<!ATTLIST source
<!--This attribute must be used to indicate the order in which the components are encountered from source to detector (e.g., in a Q-TOF, the quadrupole would have the lower order number, and the TOF the higher number of the two). -->
    order CDATA #REQUIRED>

<!--A mass analyzer (or mass filter) component. -->
<!ELEMENT analyzer (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*)>
<!ATTLIST analyzer
<!--This attribute must be used to indicate the order in which the components are encountered from source to detector (e.g., in a Q-TOF, the quadrupole would have the lower order number, and the TOF the higher number of the two). -->
    order CDATA #REQUIRED>

<!--A detector component. -->
<!ELEMENT detector (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*)>
<!ATTLIST detector
<!--This attribute must be used to indicate the order in which the components are encountered from source to detector (e.g., in a Q-TOF, the quadrupole would have the lower order number, and the TOF the higher number of the two). -->
    order CDATA #REQUIRED>

<!--Information about an ontology or CV source and a short 'lookup' tag to refer to. -->
<!ELEMENT cv EMPTY>
<!ATTLIST cv
<!--The short label to be used as a reference tag with which to refer to this particular Controlled Vocabulary source description (e.g., from the cvLabel attribute, in CVParamType elements). -->
    id CDATA #REQUIRED
<!--The usual name for the resource (e.g. The PSI-MS Controlled Vocabulary). -->
    fullName CDATA #REQUIRED
<!--The version of the CV from which the referred-to terms are drawn. -->
    version CDATA #IMPLIED
<!--The URI for the resource. -->
    URI CDATA #REQUIRED>

<!--Description of the way in which a particular software was used. -->
<!ELEMENT dataProcessing (
        processingMethod+)>
<!ATTLIST dataProcessing
<!--A unique identifier for this data processing that is unique across all DataProcessingTypes. -->
    id CDATA #REQUIRED
<!--This attribute must reference the 'id' of the appropriate SoftwareType. -->
    softwareRef CDATA #REQUIRED>

<!ELEMENT processingMethod (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*)>
<!ATTLIST processingMethod
<!--This attributes allows a series of consecutive steps to be placed in the correct order. -->
    order CDATA #REQUIRED>

<!--This summarizes the different types of spectra that can be expected in the file. This is expected to aid processing software in skipping files that do not contain appropriate spectrum types for it. -->
<!ELEMENT fileContent (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*)>

<!--List and descriptions of the source files this mzML document was generated or derived from -->
<!ELEMENT sourceFileList (
        sourceFile+)>
<!ATTLIST sourceFileList
<!--Number of source files used in generating the instance document. -->
    count CDATA #REQUIRED>

<!ELEMENT sourceFile (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*)>
<!ATTLIST sourceFile
<!--An identifier for this file. -->
    id CDATA #REQUIRED
<!--Name of the source file, without reference to location (either URI or local path). -->
    name CDATA #REQUIRED
<!--URI-formatted location where the file was retrieved. -->
    location CDATA #REQUIRED>

<!--Structure allowing the use of a controlled (cvParam) or uncontrolled vocabulary (userParam), or a reference to a predefined set of these in this mzML file (paramGroupRef). -->
<!ELEMENT contact (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*)>

<!--Description of a particular hardware configuration of a mass spectrometer. Each configuration must have one (and only one) of the three different components used for an analysis. For hybrid instruments, such as an LTQ-FT, there must be one configuration for each permutation of the components that is used in the document. For software configuration, use a ReferenceableParamGroup element. -->
<!ELEMENT instrumentConfiguration (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*, 
        componentList, 
        softwareRef?)>
<!ATTLIST instrumentConfiguration
<!--An identifier for this instrument configuration. -->
    id CDATA #REQUIRED>
<!--List with the different components used in the mass spectrometer. At least one source, one mass analyzer and one detector need to be specified. -->
<!ELEMENT componentList ((
        source | 
        analyzer | 
        detector))+>
<!ATTLIST componentList
<!--The number of components in this list. -->
    count CDATA #REQUIRED>
<!--Reference to a previously defined software element -->
<!ELEMENT softwareRef EMPTY>
<!ATTLIST softwareRef
<!--This attribute must be used to reference the 'id' attribute of a software element. -->
    ref CDATA #REQUIRED>

<!--This is the root element for the Proteomics Standards Initiative (PSI) mzML schema, which is intended to capture the use of a mass spectrometer, the data generated, and the initial processing of that data (to the level of the peak list). -->
<!ELEMENT mzML (
        cvList, 
        fileDescription, 
        referenceableParamGroupList?, 
        sampleList?, 
        instrumentConfigurationList, 
        softwareList, 
        dataProcessingList, 
        acquisitionSettingsList?, 
        run)>
<!ATTLIST mzML
<!--An optional accession number for the mzML document. -->
    accession CDATA #IMPLIED
<!--The version of this mzML document. -->
    version CDATA #REQUIRED
<!--An optional id for the mzML document. It is recommended to use LSIDs when possible. -->
    id CDATA #IMPLIED>
<!--Container for one or more controlled vocabulary definitions. -->
<!ELEMENT cvList (
        cv+)>
<!ATTLIST cvList
<!--The number of CV definitionsin this mzML file. -->
    count CDATA #REQUIRED>
<!--Information pertaining to the entire mzML file (i.e. not specific to any part of the data set) is stored here. -->
<!ELEMENT fileDescription (
        fileContent, 
        sourceFileList?, 
        contact*)>
<!--Container for a list of referenceableParamGroups -->
<!ELEMENT referenceableParamGroupList (
        referenceableParamGroup+)>
<!ATTLIST referenceableParamGroupList
<!--The number of ParamGroups defined in this mzML file. -->
    count CDATA #REQUIRED>

<!ELEMENT referenceableParamGroup (
        cvParam*, 
        userParam*)>
<!ATTLIST referenceableParamGroup
<!--The identifier with which to reference this ReferenceableParamGroup. -->
    id CDATA #REQUIRED>
<!--List and descriptions of samples. -->
<!ELEMENT sampleList (
        sample+)>
<!ATTLIST sampleList
<!--The number of Samples defined in this mzML file. -->
    count CDATA #REQUIRED>

<!ELEMENT sample (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*)>
<!ATTLIST sample
<!--A unique identifier across the samples with which to reference this sample description. -->
    id CDATA #REQUIRED
<!--An optional name for the sample description, mostly intended as a quick mnemonic. -->
    name CDATA #IMPLIED>
<!--List and descriptions of instrument configurations. -->
<!ELEMENT instrumentConfigurationList (
        instrumentConfiguration+)>
<!ATTLIST instrumentConfigurationList
<!--The number of instrument configurations present in this list. -->
    count CDATA #REQUIRED>
<!--List and descriptions of software used to acquire and/or process the data in this mzML file. -->
<!ELEMENT softwareList (
        software+)>
<!ATTLIST softwareList
<!--The number of softwares defined in this mzML file. -->
    count CDATA #REQUIRED>

<!ELEMENT software (
        softwareParam)>
<!ATTLIST software
<!--An identifier for this software that is unique across all SoftwareTypes. -->
    id CDATA #REQUIRED>
<!--A description of the software, based on CV information and a software version. -->
<!ELEMENT softwareParam EMPTY>
<!ATTLIST softwareParam
<!--A reference to the CV 'id' attribute as defined in the cvList in this mzML file. -->
    cvRef CDATA #REQUIRED
<!--The accession number for this CV term. -->
    accession CDATA #REQUIRED
<!--The preferred name in the CV for the accession number of this CV term. -->
    name CDATA #REQUIRED
<!--The software version. -->
    version CDATA #REQUIRED>
<!--List and descriptions of data processing applied to this data. -->
<!ELEMENT dataProcessingList (
        dataProcessing+)>
<!ATTLIST dataProcessingList
<!--The number of DataProcessingTypes in this mzML file. -->
    count CDATA #REQUIRED>
<!--List with the descriptions of the acquisition settings applied prior to the start of data acquisition. -->
<!ELEMENT acquisitionSettingsList (
        acquisitionSettings+)>
<!ATTLIST acquisitionSettingsList
<!--The number of AcquisitionType elements in this list. -->
    count CDATA #REQUIRED>
<!--A run in mzML should correspond to a single, consecutive and coherent set of scans on an instrument. -->
<!ELEMENT run (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*, 
        sourceFileRefList?, 
        spectrumList, 
        chromatogramList?)>
<!ATTLIST run
<!--A unique identifier for this run. -->
    id CDATA #REQUIRED
<!--This attribute must reference the 'id' of the default instrument configuration. If a scan does not reference an instrument configuration, it implicitly refers to this configuration. -->
    defaultInstrumentConfigurationRef CDATA #REQUIRED
<!--This attribute must reference the 'id' of the appropriate sample. -->
    sampleRef CDATA #IMPLIED
<!--The optional start timestamp of the run, in UT. -->
    startTimeStamp CDATA #IMPLIED>
<!--All mass spectra and the acquisitions underlying them are described and attached here. Subsidiary data arrays are also both described and attached here. -->
<!ELEMENT spectrumList (
        spectrum*)>
<!ATTLIST spectrumList
<!--The number of spectra defined in this mzML file. -->
    count CDATA #REQUIRED>

<!ELEMENT spectrum (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*, 
        spectrumDescription, 
        binaryDataArrayList?)>
<!ATTLIST spectrum
<!--A unique identifier for this spectrum. It should be expected that external files may use this identifier together with the mzML filename or accession to reference a particular spectrum. -->
    id CDATA #REQUIRED
<!--The native identifier for the spectrum, used by the acquisition software. -->
    nativeID CDATA #REQUIRED
<!--The identifier for the spot from which this spectrum was derived, if a MALDI or similar run. -->
    spotID CDATA #IMPLIED
<!--The zero-based, consecutive index of  the spectrum in the SpectrumList. -->
    index CDATA #REQUIRED
<!--Default length of binary data arrays contained in this element. -->
    defaultArrayLength CDATA #REQUIRED
<!--This attribute can optionally reference the 'id' of the appropriate dataProcessing. -->
    dataProcessingRef CDATA #IMPLIED
<!--This attribute can optionally  reference the 'id' of the appropriate sourceFile. -->
    sourceFileRef CDATA #IMPLIED>
<!--Description of the parameters for the mass spectrometer for a given acquisition (or list of acquisitions). -->
<!ELEMENT spectrumDescription (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*, 
        acquisitionList?, 
        precursorList?, 
        scan?)>
<!--List and descriptions of acquisitions . -->
<!ELEMENT acquisitionList (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*, 
        acquisition+)>
<!ATTLIST acquisitionList
<!--the number of acquisitions defined in this mzML file. -->
    count CDATA #REQUIRED>
<!--List and descriptions of precursors to the spectrum currently being described. -->
<!ELEMENT precursorList (
        precursor+)>
<!ATTLIST precursorList
<!--The number of precursors in this list. -->
    count CDATA #REQUIRED>

<!ELEMENT precursor (
        isolationWindow?, 
        selectedIonList, 
        activation)>
<!ATTLIST precursor
<!--Reference to the id attribute of the spectrum from which the precursor was selected. -->
    spectrumRef CDATA #IMPLIED
<!--For precursor spectra that are external to this document, this attribute must reference the 'id' attribute of a sourceFile representing that external document. -->
    sourceFileRef CDATA #IMPLIED
<!--For precursor spectra that are external to this document which can be referenced by nativeID, this string must correspond to the 'nativeID' attribute of a spectrum in the external document indicated by 'sourceFileRef'. -->
    externalNativeID CDATA #IMPLIED
<!--For precursor spectra that are external to this document which cannot be referenced by nativeID, this string must correspond to the 'id' attribute of a spectrum in the external document indicated by 'sourceFileRef'. -->
    externalSpectrumID CDATA #IMPLIED>
<!--This element captures the isolation (or 'selection') window configured to isolate one or more precursors. -->
<!ELEMENT isolationWindow (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*)>
<!--This list of precursor ions that were selected. -->
<!ELEMENT selectedIonList (
        selectedIon+)>
<!ATTLIST selectedIonList
<!--The number of selected precursor ions defined in this list. -->
    count CDATA #REQUIRED>

<!ELEMENT selectedIon (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*)>
<!--The type and energy level used for activation. -->
<!ELEMENT activation (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*)>
<!--The instrument's 'run time' parameters; common to the whole of this spectrum. -->
<!ELEMENT scan (
        referenceableParamGroupRef*, 
        cvParam*, 
        userParam*, 
        scanWindowList)>
<!ATTLIST scan
<!--This attribute must reference the 'id' attribute of the appropriate instrument configuration. -->
    instrumentConfigurationRef CDATA #IMPLIED>
<!--Container for a list of select windows. -->
<!ELEMENT scanWindowList (
        scanWindow+)>
<!ATTLIST scanWindowList
<!--The number of selection windows defined in this list. -->
    count CDATA #REQUIRED>

<!ELEMENT scanWindow (
        cvParam+)>
<!--All chromatograms for thsi run. -->
<!ELEMENT chromatogramList (
        chromatogram+)>
<!ATTLIST chromatogramList
<!--The number of chromatograms defined in this mzML file. -->
    count CDATA #REQUIRED>

