src/algo/ms/formats/mzxml/mzXML.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "mzXML.dtd"
     ::DATATOOL:: by application DATATOOL version 1.9.2
     ::DATATOOL:: on 10/04/2008 20:45:45
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "mzXML"
================================================= -->
<!--
element and attribute declarations
Comment describing your root element
-->


<xs:element name="dataProcessing">
  <xs:complexType>
    <xs:sequence>
<!--Software identifier -->
      <xs:element ref="software"/>
<!--Description of any manipulation (from the first conversion to mzXML format until the creation of the current mzXML instance document) applied to the data. -->
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
<!--Any additional manipulation not included elsewhere in the dataProcessing element. -->
        <xs:element ref="processingOperation"/>
<!--Additional comments. -->
        <xs:element name="comment" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="intensityCutoff" type="xs:float" use="optional"/>
    <xs:attribute name="centroided" type="xs:boolean" use="optional"/>
    <xs:attribute name="deisotoped" type="xs:boolean" use="optional"/>
    <xs:attribute name="chargeDeconvoluted" type="xs:boolean" use="optional"/>
    <xs:attribute name="spotIntegration" type="xs:boolean" use="optional"/>
  </xs:complexType>
</xs:element>

<!-- Index for non sequential data access -->
<xs:element name="index"> 
  <xs:complexType> 
    <xs:sequence> 
      <!-- Offset of the element identified by name (index attribute) and id -->
      <xs:element ref="offset" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<!--Acquisition dependent properties of a MALDI experiment. -->
<xs:element name="maldi">
  <xs:complexType>
    <xs:attribute name="plateID" type="xs:string" use="required"/>
    <xs:attribute name="spotID" type="xs:string" use="required"/>
    <xs:attribute name="laserShootCount" type="xs:string" use="optional"/>
    <xs:attribute name="laserFrequency" type="xs:string" use="optional"/>
    <xs:attribute name="laserIntensity" type="xs:string" use="optional"/>
    <xs:attribute name="collisionGas" type="xs:string" use="optional"/>
  </xs:complexType>
</xs:element>

<xs:element name="maldiMatrix">
  <xs:complexType>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="msDetector">
  <xs:complexType>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="msInstrument">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="msManufacturer"/>
      <xs:element ref="msModel"/>
      <xs:element ref="msIonisation"/>
      <xs:element ref="msMassAnalyzer"/>
      <xs:element ref="msDetector"/>
<!--Software identifier -->
      <xs:element ref="software"/>
      <xs:element ref="msResolution" minOccurs="0"/>
<!--Contact information for the person responsible for the instrument.-->
      <xs:element ref="operator" minOccurs="0"/>
<!--General information about the MS instrument. -->
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
<!--Any additional property of the instrument not included elsewhere in the instrument element. -->
        <xs:element ref="nameValue"/>
<!--Additional comments. -->
        <xs:element name="comment" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="msIonisation">
  <xs:complexType>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="msManufacturer">
  <xs:complexType>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="msMassAnalyzer">
  <xs:complexType>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="msModel">
  <xs:complexType>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="msResolution">
  <xs:complexType>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="msRun">
  <xs:complexType>
    <xs:sequence>
<!--Path to all the ancestor files (up to the native acquisition file) used to generate the current XML instance document. -->
      <xs:element ref="parentFile" maxOccurs="unbounded"/>
      <xs:element ref="msInstrument" minOccurs="0"/>
      <xs:element ref="dataProcessing" maxOccurs="unbounded"/>
<!--
Additional comments
Information about the separation technique, if any, used right before the acquisition.
-->
      <xs:element ref="separation" minOccurs="0"/>
<!--Acquisition independent properties of a MALDI experiment. -->
      <xs:element ref="spotting" minOccurs="0"/>
<!--Modified to allow 0 scans for internal NCBI use. -->
      <xs:element ref="scan" minOccurs="0" maxOccurs="unbounded"/>
<!--sha-1 sum for this file (from the beginning of the file up to (and including) the opening tag of sha1 -->
      <xs:element name="sha1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="scanCount" type="xs:integer" use="optional"/>
    <xs:attribute name="startTime" type="xs:string" use="optional"/>
    <xs:attribute name="endTime" type="xs:string" use="optional"/>
  </xs:complexType>
</xs:element>

<xs:element name="mzXML">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="msRun"/>
<!--Index for non sequential data access -->
      <xs:element ref="index" minOccurs="0"/>
<!--offset of the index element (if 0 no index present) -->
      <xs:element name="indexOffset" type="xs:string"/>
<!--sha-1 sum for this file (from the beginning of the file up to (and including) the opening tag of sha1 -->
      <xs:element name="sha1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--Any additional property of the instrument not included elsewhere in the instrument element. -->
<xs:element name="nameValue">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="value" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<!--Offset of the element identified by name (index attribute) and id -->
<xs:element name="offset">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<!--
sha-1 sum for this file (from the beginning of the file up to (and including) the opening tag of sha1
Contact information for the person responsible for the instrument.
-->
<xs:element name="operator">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="first" type="xs:string" use="required"/>
        <xs:attribute name="last" type="xs:string" use="required"/>
        <xs:attribute name="phone" type="xs:string" use="optional"/>
        <xs:attribute name="email" type="xs:string" use="optional"/>
        <xs:attribute name="URI" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<!--Defines the orientation of the spotting pattern, with the IDs of the fist two consecutive spotted spots. -->
<xs:element name="orientation">
  <xs:complexType>
    <xs:attribute name="firstSpotID" type="xs:string" use="required"/>
    <xs:attribute name="secondSpotID" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<!--Path to all the ancestor files (up to the native acquisition file) used to generate the current XML instance document. -->
<xs:element name="parentFile">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="fileName" type="xs:string" use="required"/>
        <xs:attribute name="fileType" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="RAWData"/>
              <xs:enumeration value="processedData"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="fileSha1" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<xs:element name="pattern">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="spottingPattern"/>
<!--Defines the orientation of the spotting pattern, with the IDs of the fist two consecutive spotted spots. -->
      <xs:element ref="orientation"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--This is the actual data encoded using base64. Byte order must be network. The order of the pairs must be m/z intensity. -->
<xs:element name="peaks">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <!-- precision is (32 | 64)  -->
        <xs:attribute name="precision" type="xs:integer" use="required"/>
        <xs:attribute name="byteOrder" type="xs:string" use="optional" default="network"/>
        <xs:attribute name="pairOrder" type="xs:string" use="optional" default="m/z-int"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<!--Information about a MALDI plate. -->
<xs:element name="plate">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="plateManufacturer"/>
      <xs:element ref="plateModel"/>
      <xs:element ref="pattern" minOccurs="0"/>
<!--Information about individual spots. -->
      <xs:element ref="spot" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="plateID" type="xs:string" use="required"/>
    <xs:attribute name="spotXCount" type="xs:string" use="required"/>
    <xs:attribute name="spotYCount" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="plateManufacturer">
  <xs:complexType>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="plateModel">
  <xs:complexType>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<!--Information about the precursor ion. -->
<xs:element name="precursorMz">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute name="precursorScanNum" type="xs:integer" use="optional"/>
        <xs:attribute name="precursorIntensity" type="xs:float" use="required"/>
        <xs:attribute name="precursorCharge" type="xs:integer" use="optional"/>
        <xs:attribute name="possibleCharges" type="xs:string" use="optional"/>
        <xs:attribute name="windowWideness" type="xs:float" use="optional"/>
        <xs:attribute name="activationMethod" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="ETD"/>
              <xs:enumeration value="ECD"/>
              <xs:enumeration value="CID"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<!--Any additional manipulation not included elsewhere in the dataProcessing element. -->
<xs:element name="processingOperation">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="value" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<!--Information about the robot, if any, used to spot the plates. -->
<xs:element name="robot">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="robotManufacturer"/>
      <xs:element ref="robotModel"/>
    </xs:sequence>
    <xs:attribute name="timePerSpot" type="xs:string" use="required"/>
    <xs:attribute name="deadVolume" type="xs:string" use="optional"/>
  </xs:complexType>
</xs:element>

<xs:element name="robotManufacturer">
  <xs:complexType>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="robotModel">
  <xs:complexType>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="scan">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="scanOrigin" minOccurs="0" maxOccurs="unbounded"/>
      <!--Information about the precursor ion. -->
      <xs:element ref="precursorMz" minOccurs="0" maxOccurs="unbounded"/>
      <!--Acquisition dependent properties of a MALDI experiment. -->
      <xs:element ref="maldi" minOccurs="0"/>
      <!--This is the actual data encoded using base64. Byte order must be network. The order of the pairs must be m/z intensity. -->
      <xs:element ref="peaks" minOccurs="0"/>
      <!--The actual MS data is here -->
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <!--Any additional property of the instrument not included elsewhere in the instrument element. -->
        <xs:element ref="nameValue"/>
        <!--Additional comments. -->
        <xs:element name="comment" type="xs:string" minOccurs="0"/>
      </xs:sequence>
      <xs:element ref="scan" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="num" type="xs:integer" use="required"/>
    <xs:attribute name="msLevel" type="xs:integer" use="required"/>
    <xs:attribute name="peaksCount" type="xs:integer" use="required"/>
    <xs:attribute name="polarity" type="xs:string" use="optional"/>
    <xs:attribute name="scanType" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Full"/>
          <xs:enumeration value="zoom"/>
          <xs:enumeration value="SIM"/>
          <xs:enumeration value="SRM"/>
          <xs:enumeration value="CRM"/>
          <xs:enumeration value="Q1"/>
          <xs:enumeration value="Q3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="filterLine" type="xs:string" use="optional"/>
    <xs:attribute name="centroided" type="xs:boolean" use="optional"/>
    <xs:attribute name="deisotoped" type="xs:boolean" use="optional"/>
    <xs:attribute name="chargeDeconvoluted" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="retentionTime" type="xs:string" use="optional"/>
    <xs:attribute name="ionisationEnergy" type="xs:float" use="optional"/>
    <xs:attribute name="collisionEnergy" type="xs:float" use="optional"/>
    <xs:attribute name="cidGasPressure" type="xs:float" use="optional"/>
    <xs:attribute name="startMz" type="xs:float" use="optional"/>
    <xs:attribute name="endMz" type="xs:float" use="optional"/>
    <xs:attribute name="lowMz" type="xs:float" use="optional"/>
    <xs:attribute name="highMz" type="xs:float" use="optional"/>
    <xs:attribute name="basePeakMz" type="xs:float" use="optional"/>
    <xs:attribute name="basePeakIntensity" type="xs:float" use="optional"/>
    <xs:attribute name="totIonCurrent" type="xs:float" use="optional"/>
    <xs:attribute name="msInstrumentID" type="xs:int" use="optional"/>
  </xs:complexType>
</xs:element>

<xs:element name="scanOrigin">
  <xs:complexType>
    <xs:attribute name="parentFileID" type="xs:string" use="required"/>
    <xs:attribute name="num" type="xs:integer" use="required"/>
  </xs:complexType>
</xs:element>

<!--
Additional comments
Information about the separation technique, if any, used right before the acquisition.
-->
<xs:element name="separation">
  <xs:complexType>
    <xs:sequence>
<!--Since this schema is only for MS data, the actual implementation of this element is left to another schema. See "Implementing variable content containers using an abstract element and element substitution" (http://www.xfront.com/VariableContentContainers.pdf). -->
      <xs:element name="separationTechnique" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--Software identifier -->
<xs:element name="software">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="acquisition"/>
              <xs:enumeration value="conversion"/>
              <xs:enumeration value="processing"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="version" type="xs:string" use="required"/>
        <xs:attribute name="completionTime" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<!--Information about individual spots. -->
<xs:element name="spot">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="maldiMatrix"/>
    </xs:sequence>
    <xs:attribute name="spotID" type="xs:string" use="required"/>
    <xs:attribute name="spotXPosition" type="xs:string" use="required"/>
    <xs:attribute name="spotYPosition" type="xs:string" use="required"/>
    <xs:attribute name="spotDiameter" type="xs:string" use="optional"/>
  </xs:complexType>
</xs:element>

<!--Acquisition independent properties of a MALDI experiment. -->
<xs:element name="spotting">
  <xs:complexType>
    <xs:sequence>
<!--Information about a MALDI plate. -->
      <xs:element ref="plate" maxOccurs="unbounded"/>
<!--Information about the robot, if any, used to spot the plates. -->
      <xs:element ref="robot" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="spottingPattern">
  <xs:complexType>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

</xs:schema>
